 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>ゲーム業界でツールプログラマーとして働いています。ゲーム開発に強い情熱を持ち、Unityでの業務経験もあります。プライベートではUnityやUnrealを使ってゲーム制作に取り組んでおり、ゲームジャムにも頻繁に参加しています。</p>
                </div>
                <div class="col-lg-4">
                    <p>こちらでは、これまでに携わってきたプロジェクトの一部をご紹介しています。日本語能力試験N2に合格しており、現在はN1に向けて勉強中です。ご質問などがありましたら、お気軽にご連絡ください！ </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
