 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi! I'm Josh, a software engineer and game dev from the UK. I graduated from University of Bristol in 2018, where I studied Computer Science, and then worked in FinTech while making games in my free time.</p>
                </div>
                <div class="col-lg-4">
                    <p>Here you can see some of the projects that I have worked on. I am now studying Japanese in Tokyo and working at a game studio part-time. If you have any questions feel free to contact me :) </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
